html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: sans-serif;
}

#root {
	height: 100%;
	overflow: hidden;
	background-color: #EEE;
}

.colleagues-query {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.colleagues-container {
	flex: 1;
	overflow: scroll;
}

.colleagues-list {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 30px;
	list-style: none;
}

.colleague {
	box-shadow: 0px 0px 5px 5px #DDD;
	padding: 10px;
	margin: 10px;
	background-color: #FFF;
}

.colleague-content {
	display: flex;
	flex-direction: column;
	border: 10px;

	img {
		width: 160px;
		height: 180px;
		object-fit: cover;
	}
}

.colleague-info {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.colleague-filter {

	form {
		display: flex;
		flex-direction: row;

		label {
			padding: 10px;
		}
	}
}